<h1>This is my Blog!</h1>
<div class="center">
<p>
  My name is Michael Peterson.
 I have been a .Net applications developer for a few years now (working mainly with Winform and WPF applications). 
 As an applications developer, diving into the world of web design/development has been a bit overwhelming to say the least. 
 This blog is my way of capturing this journey and putting it into words.  
This is mainly for my own benefit, as it's always beneficial to put your thoughts down in words, although I invite you to follow along.	
</p>
</div>