<h1 class="yellow">Michael Peterson</h1>
<h3 class="blue">Summary of Qualifications</h3>
<div class="centered">Strong object-oriented programmer with both a top level education and professional experience.  A strong ability to learn and adapt quickly as well as experience with leading-edge programming tools.  Experience developing and testing fully functional software applications using test driven devlopment.</div> </br> 
Experience Includes:
<ul>
	<li>Extensive C# / .NET development</li>
	<li>Sql Server Experience</li>
	<li>Java Development</li>
	<li>Ruby on Rails / HTML5 / CSS experience</li>
	<li>C/C++ Experience</li> 
</ul>
<h3 class="blue">Education</h3>
<div class="centered">Bachelor of Science in Computer Science, May 2012, Old Dominion University, Norfolk, Virginia</div>
<h3 class="blue">Work Experience</h3>
<ul>
	<li><b>Programmer Analyst, Truestone, Suffolk, VA 2012-present</b></br>
		<div class="centered">Worked as a software engineer on the Coast Guard Data Distribution System (CGDDS).  Created Test plans to verify the corrections made to counteract System Trouble Reports.  Did the majority of the design work for the newest revision, 1.0.5.0, including a complete rewrite of the client application adding large amounts of new features.  Built a Unit Testing Framework into the newest revision using the Model-View-Presenter architecture and NUnit.  The system was developed using the .NET framework, the Windows Forms library, and the C# programming language.  The system includes both a core service and a client (GUI) application.</div></li>
	<li><b>Software Engineering Intern, WR Systems, Norfolk, VA 2011-2012</b>
		<div class="centered">Developed a software application for testing and monitoring conventional navigation equipment.  This application was developed using the .NET framework, the Windows Presentation Foundation (WPF), and the C# programming language.  Features included the ability to log and graphically represent data in real time.  Also developed a WPF browser application with the same capabilities.  </div></li>